						<!-- FORM  SHOWING TO ADD-ISSUE -->
            <div class="collapse collapsing" id="collapseExample">
            
                <form class="w-100 mx-auto p-2 bg-white rounded" action="/view-project/add-issue" method="POST">
                    <!-- We pass hiddenly projectId while adding the issue -->
                    <input type="hidden" name="project" value="<%= project._id %>"> 
                    <div class="row m-3">
                        <input name="title" type="text" class="form-control col" placeholder="Title" required>
                    </div>
                    <div class="row m-3">
                        <textarea name="description" type="text" class="form-control col " placeholder="Description"></textarea>
                    </div>
                                          <!-- LABEL FEILD -->
                    <div class="row m-3">
        
                        <div class="col font-weight-bold text-secondary">
                            Labels 
                        </div>
                        <div class="col">
                          <div class="form-check">
                          <input name="label" class="form-check-input" type="checkbox" value="UI Improvement" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                            UI Improvement
                          </label>
                        </div>
        
                        <div class="form-check">
                          <input name="label" class="form-check-input" type="checkbox" value="Enhancement" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                            Enhancement
                          </label>
                        </div>

                        <div class="form-check">
                          <input name="label" class="form-check-input" type="checkbox" value="Duplication" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                            Duplication
                          </label>
                        </div>
            
                        <div class="form-check">
                          <input name="label" class="form-check-input" type="checkbox" value="Documentation" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                            Documentation
                          </label>
                        </div>

                        <div class="form-check">
                          <input name="label" class="form-check-input" type="checkbox" value="Bug" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                            Bug
                          </label>
                        </div>
                        </div>
                    </div>
                        <!-- Author and Submit button -->
                    <div class="row m-3">
                        <input name="author" type="text" class="form-control col me-2" placeholder="Author name" required>
                        <button type="submit" class="btn btn-danger col-4 ms-2">Create Issues</button>
                    </div>		
                </form>
                
            </div>