<aside class="position-absolute w-25 border" style="top:10%">
    <form class="p-2 bg-white rounded" action="/view-project/filter/<%= project._id %>" method="POST">
        <div class="dropdown">
            <div class="row m-3">
                <input name="author" type="text" class="form-control col me-2 w-75" placeholder="Filter by author">
            </div>
            <!-- btn for showing dropdown -->
            <button  class="btn btn-primary dropdown-toggle labelDropdown ms-3 w-75" type="button" id="dropdownMenuButton"
				    data-mdb-toggle="dropdown" aria-expanded="false">
				    Labels
			</button>
            <!-- Labels -->
            <ul id="labelList" isShow="0" style="background-color : lightgrey" class="dropdown-menu ms-3 w-75 mt-1" aria-labelledby="dropdownMenuButton">
                <% let labels = ['UI Improvement','Enhancement','Duplication','Documentation','Bug']; %> 
                <% for(label of labels){ %>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="form-check">
                                <input name="labels" class="form-check-input" type="checkbox" value="<%= label %>" id="Checkme1" />
                                <label class="form-check-label" for="Checkme1"><%= label %></label>
                            </div>
                        </a>
                    </li>
                    
                <% } %> 
            </ul>
            <!-- Btn for submiting the details -->
            <button type="submit" class="btn btn-success col-4 m-3">Filter</button>	
        </div>
    </form>
</aside>

<script type="text/javascript">
    // For FILTER BTN AND DROPDOWN SHOW HIDE
	//DROPDOWN BTN
	let labelBtn = document.querySelector('.labelDropdown');
	//DROPDOWN LIST CONTAINER
	let labelList = document.querySelector('#labelList');

	labelBtn.addEventListener('click',showLabels);
	function showLabels(){
		//if isShow =0 it means DropDownHide
		
		if(labelList.getAttribute('isShow') == 0){
			
			labelList.style.display = 'block';
			labelList.setAttribute('isShow',1);
		}
		else{
			
			labelList.style.display = 'none';
			labelList.setAttribute('isShow',0);
		}
	}
</script>