<header>
    <nav class="navbar bg-dark">
        <a class="navbar-brand mx-3" href="/">Issue Tracker</a>
        <ul class="navbar-nav mx-3">
            <li class="nav-item text-white about" style="cursor: pointer;" onclick="about()">About</li>
        </ul>
    </nav>
</header>

<script type="text/javascript">
    function about(){
        alert('Developer : Uvais Ahmad (ninjas) &                                                        Its a IssueTracker application which works on ExpressJs and Store all Info in the MongoDB Database. its UI build in EJS (styling Bootstrap).');
    }
</script>